.idea
.vscode
*.code-workspace
tmp/
dist/
*.orig
test/project/libs/libgodotgo-test-darwin-10.6-amd64.dylib
logs/
.env
playground
cmd/generate/gdnativewrapper/gdnative_interface.intermediate.h
__debug_bin
*.so
test/libs/
.*.md
*.bak
.deprecated*/
tmp/
test/demo/lib
main
_debug_parsed_ast.json
.claude
CLAUDE.md
