{{ $view := . -}}
package builtin

// #include <godot/gdextension_interface.h>
import "C"
import (
	. "github.com/godot-go/godot-go/pkg/ffi"
)

{{ $enum := $view.FindVariantEnumType -}}
{{ range $i, $v := $enum.Values }}
{{ if or (or (eq $v.Name "GDEXTENSION_VARIANT_TYPE_NIL")
	(eq $v.Name "GDEXTENSION_VARIANT_TYPE_OBJECT"))
	(eq $v.Name "GDEXTENSION_VARIANT_TYPE_VARIANT_MAX") }}
	{{ continue }}
{{ end -}}
{{ $md := astVariantMetadata $v.Name }}
{{ range $j, $e := $md.Encodings }}
func NewVariant{{ $e.Name }}(v {{ $e.NativeType }}) Variant {
	ret := Variant{}
	ptr := (GDExtensionUninitializedVariantPtr)(ret.NativePtr())
	pnr.Pin(ptr)
	GDExtensionVariantPtrFrom{{ $e.Name }}(v, ptr)
	return ret
}

func GDExtensionVariantPtrFrom{{ $e.Name }}(v {{ $e.NativeType }}, rOut GDExtensionUninitializedVariantPtr) {
	{{ if $md.IsReference -}}
	var encoded {{ $e.EncodeType }}
	encodedPtr := (GDExtensionTypePtr)(&encoded)
	pnr.Pin(encodedPtr)
	{{ $e.Name }}Encoder.EncodeTypePtrArg(v, (GDExtensionUninitializedTypePtr)(encodedPtr))
	fn := variantFromTypeConstructor[{{ $v.Name }}]
	CallFunc_GDExtensionVariantFromTypeConstructorFunc(
		(GDExtensionVariantFromTypeConstructorFunc)(fn),
		rOut,
		encodedPtr,
	)
	{{ else -}}
	var encoded {{ $e.EncodeType }}
	encodedPtr := (GDExtensionTypePtr)(&encoded)
	{{ $e.Name }}Encoder.EncodeTypePtrArg(v, (GDExtensionUninitializedTypePtr)(encodedPtr))
	fn := variantFromTypeConstructor[{{ $v.Name }}]
	CallFunc_GDExtensionVariantFromTypeConstructorFunc(
		(GDExtensionVariantFromTypeConstructorFunc)(fn),
		rOut,
		encodedPtr,
	)
	{{ end -}}
}

func (c Variant) To{{ $e.Name }}() {{ $e.NativeType }} {
	fn := typeFromVariantConstructor[{{ $v.Name }}]
	var v {{ $e.EncodeType }}
	{{ if $md.IsReference -}}
	ptr := v.NativePtr()
	pnr.Pin(ptr)
	CallFunc_GDExtensionTypeFromVariantConstructorFunc(
		(GDExtensionTypeFromVariantConstructorFunc)(fn),
		(GDExtensionUninitializedTypePtr)(ptr),
		c.NativePtr(),
	)
	return v
	{{ else -}}
	ptr := (GDExtensionTypePtr)(&v)
	pnr.Pin(ptr)
	CallFunc_GDExtensionTypeFromVariantConstructorFunc(
		(GDExtensionTypeFromVariantConstructorFunc)(fn),
		(GDExtensionUninitializedTypePtr)(ptr),
		c.NativePtr(),
	)
	var decoded {{ $e.NativeType }}
	{{ $e.Name }}Encoder.DecodeTypePtrArg((GDExtensionConstTypePtr)(ptr), &decoded)
	return decoded
	{{ end -}}
}
{{ end -}}
{{ end -}}
