name: godot-go CI on Linux

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "**/*.go"
      - "**/*.c"
      - "**/*.h"
      - "**/*.gdextension"
      - ".github/workflows/ci_linux.yaml"

  push:
    branches:
      - main
    paths:
      - "**/*.go"
      - "**/*.c"
      - "**/*.h"
      - "**/*.gdextension"
      - ".github/workflows/ci_linux.yaml"

jobs:
  run_test:
    name: "run tests"
    strategy:
      fail-fast: true
      matrix:
        os:
          - linux
        arch:
          - amd64

    runs-on: ubuntu-latest
    env:
      GODOT: /usr/local/bin/godot
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4

      - name: Add Go 1.25 To System Path
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.0'

      - run: go version

      - run: mkdir -p bin/

      - name: Install Godot 4.4 stable
        run: |
          wget https://github.com/godotengine/godot-builds/releases/download/4.4-stable/Godot_v4.4-stable_linux.x86_64.zip
          sudo unzip Godot_v4.4-stable_linux.x86_64.zip -d /usr/local/bin
          sudo ln -s Godot_v4.4-stable_linux.x86_64 /usr/local/bin/godot

      # - name: Download Godot binary
      #   uses: dawidd6/action-download-artifact@v2
      #   with:
      #     workflow: ci_build_godot_linux.yaml
      #     workflow_conclusion: success
      #     name: godot-linuxbsd-editor-amd64
      #     path: bin/

      - name: Setup Godot binary
        run: |
          sudo chmod +x /usr/local/bin/godot
          ls -alh /usr/local/bin/

      - name: Update Godot Headers
        run: |
          make update_godot_headers_from_binary
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}

      - name: Code Generation
        run: |
          PATH=$PATH:$(go env GOPATH)/bin make generate
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}

      - run: git diff

      - name: Build
        run: make build
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}

      - name: List Artifacts Directory
        run: |
          ls -alh test/demo/lib

      - name: Gen Test Project Files
        if: ${{ matrix.os == 'linux' }}
        timeout-minutes: 3
        run: |
          make ci_gen_test_project_files
        continue-on-error: true
        env:
          CI: 1
          LOG_LEVEL: "debug"
          LANG: "en_US.utf8"

      - name: Test
        if: ${{ matrix.os == 'linux' }}
        timeout-minutes: 2
        run: |
          make test
        env:
          CI: 1
          LOG_LEVEL: "debug"
          LANG: "en_US.utf8"
