name: godot-go CI on Linux

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "**/*.go"
      - "**/*.c"
      - "**/*.h"
      - "**/*.gdextension"
      - ".github/workflows/ci_linux.yaml"

  push:
    branches:
      - main
    paths:
      - "**/*.go"
      - "**/*.c"
      - "**/*.h"
      - "**/*.gdextension"
      - ".github/workflows/ci_linux.yaml"

jobs:
  run_test:
    name: "run tests"
    strategy:
      fail-fast: true
      matrix:
        os:
          - linux
        arch:
          - amd64

    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4

      - name: Add Go 1.21.x To System Path
        run: |
          echo "${GOROOT_1_21_X64}/bin" >> $GITHUB_PATH
          echo "GITHUB_PATH=${GITHUB_PATH}"

      - run: mkdir -p bin/

      - name: Install Godot 4.2 beta4
        run: |
          wget https://github.com/godotengine/godot-builds/releases/download/4.2-beta4/Godot_v4.2-beta4_linux.x86_64.zip
          sudo unzip Godot_v4.2-beta4_linux.x86_64.zip -d /usr/local/bin
          sudo ln -s Godot_v4.2-beta4_linux.x86_64 /usr/local/bin/godot

      # - name: Download Godot binary
      #   uses: dawidd6/action-download-artifact@v2
      #   with:
      #     workflow: ci_build_godot_linux.yaml
      #     workflow_conclusion: success
      #     name: godot-linuxbsd-editor-amd64
      #     path: bin/

      # - name: Setup Godot binary
      #   run: |
      #     chmod +x godot.linuxbsd.editor.x86_64
      #     ls -R
      #   working-directory: bin/

      - name: Update Godot Headers
        run: |
          make update_godot_headers_from_binary
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}
          GODOT: ./bin/godot.linuxbsd.editor.x86_64

      - name: Code Generation
        run: make generate
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}

      - name: Build
        run: make build
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}

      - name: List Artifacts Directory
        run: |
          ls -alh test/demo/lib

      - name: Gen Test Project Files
        if: ${{ matrix.os == 'linux' }}
        timeout-minutes: 3
        run: |
          make ci_gen_test_project_files
        continue-on-error: true
        env:
          CI: 1
          LOG_LEVEL: "debug"
          LANG: "en_US.utf8"
          GODOT: ./bin/godot.linuxbsd.editor.x86_64

      - name: Test
        if: ${{ matrix.os == 'linux' }}
        timeout-minutes: 2
        run: |
          make test
        env:
          CI: 1
          LOG_LEVEL: "debug"
          LANG: "en_US.utf8"
          GODOT: ./bin/godot.linuxbsd.editor.x86_64
