name: godot-go CI on Windows

on:
  pull_request:
    paths:
      - "**/*.go"
      - "**/*.c"
      - "**/*.h"
      - ".github/workflows/ci_windows.yaml"

  push:
    branches:
      - main
    paths:
      - "**/*.go"
      - "**/*.c"
      - "**/*.h"
      - ".github/workflows/ci_windows.yaml"

jobs:
  run_test:
    strategy:
      fail-fast: true
      matrix:
        targets:
          - windows/amd64

    runs-on: windows-latest
    timeout-minutes: 40
    steps:
      - name: Add Go 1.19.x To System Path
        shell: bash
        run: |
          echo "${GOROOT_1_19_X64}/bin" >> $GITHUB_PATH
          echo "GITHUB_PATH=${GITHUB_PATH}"
      - name: Set up scoop
        uses: MinoruSekine/setup-scoop@main
        with:
          scoop_checkup: 'true'
      - name: Set up scoop extras
        run: scoop bucket add extras;
      - name: Install scoop packages
        run: scoop install wget unzip
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Install Godot 4.0 beta13
        run: |
          wget https://downloads.tuxfamily.org/godotengine/4.0/beta13/Godot_v4.0-beta13_win64.exe.zip
          unzip Godot_v4.0-beta13_win64.exe.zip -d ./
        shell: bash
      - name: Build
        run: |
          make build
        shell: bash
        env:
          GODOT: ./Godot_v4.0-beta13_win64.exe
      - name: List Artifacts Directory
        run: |
          ls -alh test/demo/lib
          ls -alh test/demo/
        shell: bash
      # - name: Run Godot Unit Tests
      #   timeout-minutes: 3
      #   run: make godot_unit_test
      #   continue-on-error: true
      #   env:
      #     LANG: "en_US.utf8"
      #     GODOT: "./Godot_v4.0-beta13_win64.exe"
      - name: Gen Test Project Files
        timeout-minutes: 3
        run: make ci_gen_test_project_files
        continue-on-error: true
        env:
          CI: 1
          LOG_LEVEL: "debug"
          LANG: "en_US.utf8"
          GODOT: "./Godot_v4.0-beta13_win64.exe"
      - name: Test
        timeout-minutes: 5
        run: make test
        # continue-on-error: true
        shell: bash
        env:
          CI: 1
          LOG_LEVEL: "debug"
          LANG: "en_US.utf8"
          GODOT: "./Godot_v4.0-beta13_win64.exe"
